<div class=layout>
  <header class="header">
    <h1>ESTADISTICAS</h1>
  </header>
  <nav class="nav">
    <button class="btn" routerLink="/Home">← Home</button>
    <button class="btn" (click)="showStats('http://localhost:4000/Genres')">Filtrar por Genero</button>
    <button class="btn" (click)="showStats('http://localhost:4000/Countries')">Filtrar por Pais</button>
    


  </nav>

  <div class="body">

    <div class="ngx-chart-container" *ngIf="chart">
      <ngx-charts-bar-horizontal class="ngx-chart" [view]="view" [scheme]="colorScheme" [results]="data"
        [xAxis]="showXAxis" [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [barPadding]="barPadding" (select)="onSelect($event)"
        (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
      </ngx-charts-bar-horizontal>
    </div>


    <div class="ngx-chart-container" *ngIf="!chart">
      <ngx-charts-pie-chart class="ngx-chart" [view]="view" [scheme]="colorScheme" [results]="data" [legend]="legend"
        [legendTitle]="legendTitle" [labels]="showLabels" [doughnut]="isDoughnut" (select)="onSelect($event)"
        (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">

      </ngx-charts-pie-chart>

    </div>

  </div>
  
  
</div>