.body{
  margin: -8px;
}

form {
  --bg-light: #efefef;
  --bg-dark: #ffffff;
  /* --clr: #58BC82; */
  --clr: #fff;
  --clr-alpha: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 40%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.902);
  padding: 2rem;
  border-radius: 1rem;
  /* border: 1px solid #58BC82; */
  border: 1px solid #fff;
  box-shadow: 0 4px 8px #0000001a;
}

.form .input-span {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

form input[type="email"],
form input[type="password"] {
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
  width: 95%;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: rgba(255, 255, 255, 0.893);
  outline: 2px solid var(--bg-dark);
}

form input[type="email"]:focus,
form input[type="password"]:focus {
  outline: 2px solid var(--clr);
  font-size: 16px;
  font-family: sans-serif;
}

.label {
  align-self: flex-start;
  color: rgba(255, 255, 255, 0.893);
  font-weight: 600;
  font-family: sans-serif;
  font-size: 16px;
}

.title {
  width: 100%;
  font-size: 40px;
  text-align: center;
  margin: auto;
}

form .submit {
  padding: 0.5rem 0.75rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  border-radius: 3rem;
  background-color: rgba(0, 0, 0, 0.902);
  color: rgba(255, 255, 255, 0.893);
  border: none;
  cursor: pointer;
  transition: all 300ms;
  font-weight: 600;
  font-size: 1.3rem;
  font-family: sans-serif;
  border: 2px rgba(255, 255, 255, 0.893) solid;
}

form .submit:hover {
  background-color: var(--clr);
  color: black;

}

.span {
  text-decoration: none;
  color: var(--bg-dark);
  font-family: sans-serif;
}

.span a {
  color: var(--clr);
  font-family: sans-serif;
}

body {
  /* background-image: url('https://payload.cargocollective.com/1/11/367710/13568488/MOVIECLASSICSerikweb_2500_1340_c.jpg'); */
  background-image: url('https://w0.peakpx.com/wallpaper/900/292/HD-wallpaper-black-bricks-wall-android-iphone-iphone12-samsung.jpg');
  
  background-repeat: repeat;
  background-size: contain;
  
  /* background-size: cover;
    background-repeat: no-repeat; */
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.alert {
  font-size: 10px;
  color: red;
}
